:root{
    --fonte-padrao: "Roboto", sans-serif;
    --color1: #263138;
    --color2: #445964;
    --color3: #ec3b0f;
    --color4: #97a3aa;
    --white: #FFF;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--fonte-padrao);
    scroll-behavior: smooth;
}

a{
    color: var(--color1);
}

span{
    color: black;
}


body{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.botao {  /* adicionei */
    position: absolute;
    right: 98%;
    color: rgb(248, 6, 6);
    background-color: #007BFF;
    border: none;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 15px;
}

.botao2 {  /* adicionei */
    position: absolute;
    top: 0%;
    left: 98%;
    color: white;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 15px;
}

.projetos{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(2, 180px);
    gap: 15px 40px;
    width: 680px;  /* adicionei */
    padding: 30px;
    margin: 300px auto;
    background-color: var(--color4);
    border-radius: 25px 5px;
    overflow: hidden; /* adicionei */
    position: relative;  /* adicionei */
}


.projetos figure img{
    width: 180px;
    height: 120px;
    margin: 0px;
    padding: 0px;
    border-radius: 25px 5px;
 }

 .projetos .container-proj {
    background-color: var(--color1);
    height: 120px;
    padding: 10px;
    border-radius: 25px 5px;
    display: flex;
    flex-direction: column;
    width: 180px;

}

 .projetos .container-proj:hover{
    transform: scale(1.2);
    height: 155px;
    z-index: 1;
    transition: 0.7s;
 }

 .projetos .container-proj img{
    filter: sepia(100%) hue-rotate(-20deg) saturate(10%);
 }

 .projetos .container-proj:hover img{
    filter: none;
}

 .btn-proj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
 }

 .btn-proj a{
    width: 70px;
    font-size: 16px;
    color: var(--white);
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.8s;

 }

 .btn-proj a:hover{
    background-color: var(--color3);
    transition: 0.5s;
 }